<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Just a moment...</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="robots" content="noindex,nofollow">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="challenges.css" rel="stylesheet">
    

</head>
<body class="no-js">
    <div class="main-wrapper" role="main">
    <div class="main-content">
        <h1 class="zone-name-title h1">
            <img class="heading-favicon" src="../favicon.ico" onerror="this.onerror=null;this.parentNode.removeChild(this)">
            satyr.wtf
        </h1>
        <h2 class="h2" id="challenge-running">
            Checking if the site connection is secure
        </h2>
        <noscript>
            <div id="challenge-error-title">
                <div class="h2">
                    <span class="icon-wrapper">
                        <div class="heading-icon warning-icon"></div>
                    </span>
                    <span id="challenge-error-text">
                        Enable JavaScript and cookies to continue
                    </span>
                </div>
            </div>
        </noscript>
        <div id="trk_jschal_js" style="display:none;background-image:url(&#x27;../images/transparent_7.gif&#x27;)"></div>
        <div id="challenge-body-text" class="core-msg spacer">
            satyr.wtf needs to review the security of your connection before proceeding.
        </div>
        <form id="challenge-form" action="/assets/css/cte.css?__cf_chl_f_tk=Lszw4eZuZGjlczyFl.KZxbXIZ7N5jpxtjv.g3kHmqo8-1670845608-0-gaNycGzNCKU" method="POST" enctype="application/x-www-form-urlencoded">
            <input type="hidden" name="md" value="gZ7BTfL9U3n1hJK0.dnRBzPahZT4t6Ovs2Zhwz1Zwfs-1670845608-0-AQhU-UDkpiu48GqIWXyV0OSGfNkfpz4YlqEBfWAUPtJwR4ezSCHmZbvI4qkrPNh1O3PMA8ZDmE29szTyvBVel5J6Elm76WiyVN7IMeLfnCINe4JfNHoKz3Enrbqyqy4lmJE4QMrce6ffAhZSBIfFf9NfjBzqp5bqRGPOKS8ufhfiGOZtLW27L-b4Q8Pg9Bb0D0PT_55Lefr17xqM2lSkgjpQ-NAr-6WVOScrFS7bn2iHmE2Bpwb0CzDrl_GuHbGmXfQtyDIGIZ-_e-8bXNOC2pexey0qacN7JH_2Z4b8HQEGi9e8WL7EvnnYFYCrtBxedG0BEuN9quCmIC62T1gSOL9ckHrkcZ8O3-vYaIJ5uNLFnpXXWA2W4KaHn11fl6k7hlyVXcFLM3t2XVgvL48Sw4PsOoVKErK8qdJ9htQz-Zt7UNR1OF6wiv3gGyKQ7m8yVAYy950k0fgexs_2LO2-kO89DrKvaUP5APChVurKMlbQafQGFZcGtkIBUZf4u3pqxRTpCDIfgT-bM1xLAHffcYqgJbJblmPqxLZJA14ouqWtb6E1FXvl5rMznwJ6m_eRmLMB435c1O13MIn0Z0kvb5NzKm1KKqOCKgVfIrM7xdHCw62jCYf7anU-Ly7klXW5Vl8puemTytFHXqZicfWADQKJrD9i7aLUL8ydIHhJj5LyiLoibI1HSOqhTB9UotvEXw">
            <input type="hidden" name="r" value="WvWgrCQw4C.Z2JPpUz4ety0XL1hgq9qkVcd8uvWZsqk-1670845608-0-ARxa8V0of3EipkLzTwAY6rILr+o7AOgJthAkwXgz025excAhB60Nrf83qxt7uH1YtjsGBjAYeLxzs/qQ8PeCAM0fUq8SMHcEA5T4gAJVeLxJpq43kaXH5H7SO0OvsNme/9Ue3HENolV41tLdzv/7gK0iqdHO9T95ky2NIxWOkgmnS5AuIycjPlamcY9yz+UbEJDQsXqr2rJUKrxJNbgmOBC95b4z1fxrF9WN64Ro+DBofZ6PJQ+LcnAehOu9G4UOpsp2VgRstLMk7T2xIotPUYXsupQNwEDT+8QP+EIiiGpVk7NGu4QN3WeZ9EcFCXFhLA/hioxxS1wY+GPesr86ulUNkno7pgMjVvfdaQI/6ZMpitg4HgLGqpRi3APVxph6kV2Kkpq2j4guW8R4bgv1LX9nSx/tJcoF9YV0CeqJcjgPj53VZyFy7a2w6464zz+r9O1VS6Hq0BIAZiYAKpUnpr9vcrI/gzpTEeMdsqz2InMny7kjixr2xUeqHTlOhRdB1rS7erP1epuNvhl8qStIUXonU6icDoh3pvtBaaJFUyjpiF5aTZr4BFYL4XERwvzrHxAkbB7IqZxITCLeox/YAydjWeK0VU0iyQGojHJp3uSdOaS91yPLeRvg/2Eoo5OYiiE9Hs8bMbGcgTMqspbjcYm1KhygiCegg9tz6lKKoSJR3UziO2sdW5OCxlQxmw6NMpQSRptrS8P2sk/eQObG3TSF7ZuhxXzB3ezh2Z84fcDWKdaWyrIlHg6Bow8TeIe8exuFwsOnR64aojwl9+tyU4QDwdhWWnb6ENNzABn2z2EE28KFgl7tsQg5mXgnBFPbzbu1Tyocw+qE/mRBOGzt2JB3kf2fA6CYk3RGNGTZ6rmJI9M7Rln7O1YgU265OiebdK2YzCS2tZ2G4hszJ3Kv2Dez1DIM30LU6/CSrXp18dMM8F8utRGL27IK6ajMxVhnl5CDcyrdAfNcRPHUU1fKjkVcQp1XwHtsFMJloiIxDRsk5pRbkmVRRliQ/i8Kx9YJfI3FLO6ENHwAIf5kizBXcFz9I4tD7j6C+zxzYFTC2OJSHOWT0IyEJrwTu1R5eEH1/vcV01gcPHgT1FMOGRIQE8V2V3RHOh09yrtYEnJPzLmWXAvExRuUtx13vZ5HVpsgWon+S3oX1AFUgOWMA+9vw3F5/ZS3hC/3XNslXewbg3PRYFwFXyLD7j/6UbPD+IikuVz0Sqpl+D/IJfLb9H9RYl6GJnK9m8JOqxpDLcsdBKOFCRAtRVAEBjJ2s/h+9xCOMXJWOhkIVKxI3VPs10jA4VQyvwlRlNt9ixGW2kELilzwBFZJeHEHST/xVnW5ykE93EgC42jxojOTYhjd5FCMxhyMzhYUZXD79UwFozdu6kpxvvxD9wWu4VJV8piQwGJtOPhkW5dpGNO3nC6OZ60fiz7GNUK+dpIZJm3nFPmv8vy8i/d4yixSL125kqq7yVLMMgs35ffeIt8m/IE81nhmbZL7E5Ry2xckBfuWBdKNoUL49ipuW6ifDqv9d1p2ugv9DdStdb0ItTsJrgAgf0JzihI4dzuCVkNgBokQMSRefPdCa3t/BhxhlRukOKudLOvYoThNrhkXmFv5YL9a6w61EPdX0DGhK9prUf1Ra+uxgLotez552peAr3fYvUKw/z+98xbF6IkRdYz2dJCmo3WIdzLY7aOVbUMf09jhZsHtj+dF00lDLauEH8J8ki5jfdFrf0PWBwR+i4cu6TkaW8ZHftbJ1jzGypIXkKD13J/VSj9omPapqRjEjEbVwQSDItcMZXayMSOmtuEzoC1fIGM913eHAzikvgoN+nlghRbk7OnMvk2w8iEqeG8QBooepbZLXn7cOBOuMV2LlhwSVdORK1791H+H97w/cahhNkHz4OcOrrkfb7AY6XKTPGpdplebCSdSll0jELOFWeVul1844pD+HnxSCImBfvjssHfNn9yMkmZKVKOGvCBN7bZgDU5M0uXCIr6gm+w5z6sDu+HFFdG8Rb25KtATBMMzoSD0+6E81j3jysed0sUsQb+ac2/kz6Fm1Xmbd+3v/0bdhbmJc2IaBJwdJlogvBnnQBvKpbXOEssOjujlla05sBtEyzpyQbOOVztqjnWt5bbPxw2obD03IKinFkCTcy2Vm+3gMtF7">
        </form>
    </div>
</div>
<script>
    (function(){
        window._cf_chl_opt={
            cvId: '2',
            cType: 'managed',
            cNounce: '45481',
            cRay: '778638bc6f3fd0d9',
            cHash: '5f6aa8506c046ba',
            cUPMDTk: "\/assets\/css\/cte.css?__cf_chl_tk=Lszw4eZuZGjlczyFl.KZxbXIZ7N5jpxtjv.g3kHmqo8-1670845608-0-gaNycGzNCKU",
            cFPWv: 'b',
            cTTimeMs: '1000',
            cTplV: 4,
            cTplB: 'cf',
            cRq: {
                ru: 'aHR0cHM6Ly9zYXR5ci53dGYvYXNzZXRzL2Nzcy9jdGUuY3Nz',
                ra: 'Tk9fVUE=',
                rm: 'R0VU',
                d: 'HkbCK/e5owRXGOGoMwyQ8Yc2Xn9lhBZXoMsfZwXkBAWwwJOrLplE31lI3YXPqpo16dwvWsVDDkVTQ7PTAuIxnQU7BxjBqtTOxgdRD4/LG14eMh6SnQmkrmgNkVYrZZ1/RUR+08dfrlZH9xdQZuAU3Agg/ldl5vvUHquKAvb/yYEv4fTxnWFx+QfMiRmUiS4hTKAXLGMZXaMml5jjGCl1cYRC0dEjbsjPdHJvkmhVgoE5DExq6s6vimOYai8hEG5ainKPd79Uz0+vVMFxPHRFFXuH5BlA5FhU+/UKedZfSEi5LM3UB3yurE6WV9hFJ6SttnsIawC6PIo8RS/B98EPCuahA2GJGJaW/kB0sC/pt8049Nf3Qo1kBloiBVQQYwobmFmqHIM92U9LO+YbzKqN/rcCXihkzea+Cl1xDU3OjMrAh9SYcbQ46sxbuKDlOwtyQTyG+uUrHhpqpo4zF3SWXP0KUsI0ODNL+xXMAJjsa+nnOTFHm3nXMwcuTtJTLqcT9TLdGyYHG57OyTNcBEhMZLxqiyJ2oyGCnDFNjJfx5q0PQwqLKknMXf/wsOH/h/MOwoVCWwInTxy9ZhqEglrmLypuSoqF0xDLqtGBU/4HJ0ihy6eL7dl4ef9RIBjTZ98FG4HMeqw5seSM7Z57tauztw==',
                t: 'MTY3MDg0NTYwOC40MDYwMDA=',
                m: 'xg3tvYZUwKo0yKhISxjKEsumHYJBMHAImtZKl/SdXSg=',
                i1: 'dN5fqmWBQ9gERD6pKqumAA==',
                i2: 'MF4+iDacesUORLpsXUiemQ==',
                zh: 'S4b6z2ZpczpLvqcthf6efnNW/iFe2R2Hfhh/zZ+XIxc=',
                uh: 'DV4j3Tmrbi5Rs1q3ahwVS6SgbPbI7np5884QO1u1Cgg=',
                hh: 'tdfNti6E96Zfqwlq03PZ/7uLhJxjprXuYWRtflicMVI=',
            }
        };
        var trkjs = document.createElement('img');
        trkjs.setAttribute('src', '/cdn-cgi/images/trace/managed/js/transparent.gif?ray=778638bc6f3fd0d9');
        trkjs.setAttribute('style', 'display: none');
        document.body.appendChild(trkjs);
        var cpo = document.createElement('script');
        cpo.src = '/cdn-cgi/challenge-platform/h/b/orchestrate/managed/v1?ray=778638bc6f3fd0d9';
        window._cf_chl_opt.cOgUHash = location.hash === '' && location.href.indexOf('#') !== -1 ? '#' : location.hash;
        window._cf_chl_opt.cOgUQuery = location.search === '' && location.href.slice(0, -window._cf_chl_opt.cOgUHash.length).indexOf('?') !== -1 ? '?' : location.search;
        if (window.history && window.history.replaceState) {
            var ogU = location.pathname + window._cf_chl_opt.cOgUQuery + window._cf_chl_opt.cOgUHash;
            history.replaceState(null, null, "\/assets\/css\/cte.css?__cf_chl_rt_tk=Lszw4eZuZGjlczyFl.KZxbXIZ7N5jpxtjv.g3kHmqo8-1670845608-0-gaNycGzNCKU" + window._cf_chl_opt.cOgUHash);
            cpo.onload = function() {
                history.replaceState(null, null, ogU);
            };
        }
        document.getElementsByTagName('head')[0].appendChild(cpo);
    }());
</script>


    <div class="footer" role="contentinfo">
        <div class="footer-inner">
            <div class="clearfix diagnostic-wrapper">
                <div class="ray-id">Ray ID: <code>778638bc6f3fd0d9</code></div>
            </div>
            <div class="text-center">Performance &amp; security by <a rel="noopener noreferrer" href="https://www.cloudflare.com?utm_source=challenge&utm_campaign=m" target="_blank">Cloudflare</a></div>
        </div>
    </div>
</body>
</html>
