<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Just a moment...</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="robots" content="noindex,nofollow">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="challenges.css" rel="stylesheet">
    

</head>
<body class="no-js">
    <div class="main-wrapper" role="main">
    <div class="main-content">
        <h1 class="zone-name-title h1">
            <img class="heading-favicon" src="../favicon.ico" onerror="this.onerror=null;this.parentNode.removeChild(this)">
            satyr.wtf
        </h1>
        <h2 class="h2" id="challenge-running">
            Checking if the site connection is secure
        </h2>
        <noscript>
            <div id="challenge-error-title">
                <div class="h2">
                    <span class="icon-wrapper">
                        <div class="heading-icon warning-icon"></div>
                    </span>
                    <span id="challenge-error-text">
                        Enable JavaScript and cookies to continue
                    </span>
                </div>
            </div>
        </noscript>
        <div id="trk_jschal_js" style="display:none;background-image:url(&#x27;../images/transparent_8.gif&#x27;)"></div>
        <div id="challenge-body-text" class="core-msg spacer">
            satyr.wtf needs to review the security of your connection before proceeding.
        </div>
        <form id="challenge-form" action="/assets/css/main.css?__cf_chl_f_tk=Lszw4eZuZGjlczyFl.KZxbXIZ7N5jpxtjv.g3kHmqo8-1670845608-0-gaNycGzNCKU" method="POST" enctype="application/x-www-form-urlencoded">
            <input type="hidden" name="md" value="vSBQe.RQOD87rAM19YxOMcPeCNoCAsmNp6n63txIWwQ-1670845608-0-AXs5_q40Q4nFNHLoDCSndGZaAC9uEVm9lPCd9BTWK1n8Hx0YC1ka7kMonppHAkgoEbFnYELnXKi5A3nrM8va_2MWlpeE_d7XPFbY8jlfxofP1OEbrhxqY6_PMhfSu8cEsSu7dyw3j01QyJSl1CMmOIwySDIoNVkN2ZOKYE6TevVEDzUaqFZAEHZvzhPfp2CukefLjPIVORLV_s1dmWmMr-10VIehkrjvVJppWiKILnx7AYi2y_M4BC49lUqSHllf16TsSuhYFaIaetsLhisMsEGGuqxmJkHf9XMYrziOGvQUpMTE2hB9DOfsvFiFk08ner9XW85q4UW3KiAV5j91GO9Hx2S9LNpqtcyr0nhvQUS7uTIirZxmwOthhgS1GpIqulAv6KAN-mOB6Jl8263W9lufRAZturBVrjoV9Em3MtcK4tYlH7TCcvLb4qNvMZLtZhDwZPqlAr_kTz25bMjiSh0SOV3tWRwPvq-2rCX2Mz0fL0IyCyOPrwtuVNw0fcw-ybhf3ahUxpf49tpNSXryiiVJ1I7IGSHb4pgqNU7YbU9XYUewfdDW065s-bcpDXzyiECWKWvCeOLcC9WsPBVabMp1ABvaRNk0i_QoMyjnEjMzp8UltyKDRLorJjPJQJ4BBEylrw_aJ8ARfgQtKagzQMbsqLCmkMtThkJaxEDQih1t0gE6wlydBH-4L5oqzqE22Q">
            <input type="hidden" name="r" value="q5KOx6RZMGTJQ6vIu3bCfQlMrmOk0wYldYmUTcAmCfE-1670845608-0-AaDd3nQwA3ZE0wBQZ7AhJFEPVBMmDzxvmLH3CbeL0xMQMwIdPH3imwZFzSPEoHHdP5ZBcWe2uh74UbxZWriDOTvZhOpx6aKnzuQ403sAwzjN09Vk0yQEpYM+D6N3CGR3x2NFyqXneoraLpCjcrxIa+s8jz+EjA+wzT6VbTYELyqjoTET6mTnmxf2nfXOjvRF2tpoq8C4GFIebE71hJjJmKKnnBbP7MXpPTyx9H9Stv3hTgZtTt1/M0VzhBlNY/41i1WEyaMSRuqrZcGwscrVlLYekQlZTvZNBslqdPjzL/2Fkk3YgWYiBPv2HNGiIAFvQj6CKlkbgLr+Tm/Kqpr4IaOwnUhI2/59As+F/OnyygyKUkYuO3wQYd7OZP+fGzkEmuV+V16wiqJooqzhM9MCtASqW//P3URUGKPkBa1gVQ1se9Js7ac+9LbeZLlP+Xh2FCE4SG3Xtcl9zVpuQE0KWwyCXhNb+2fUt0ymFF6eZ1gcaKCJa2Ba3tYSyWwReuD7oRAVf+r0rvWQIfiweWIPVHri488aOBZMSk7dB89aCHlKITHlRcfcXJknTw2UTiAKyuOFWzxrSPvlZ5oErP6eYZbc1vTNmOd1PahUBQWXIuxaa1WrtvH8p2j8wOaP+tkdR+geX5uL4xv3T+BXT7F3tfGrhy1bllV6oCuNxMQgC+ROHrkWTyEK3WJ612AIcMkkZxeUMQjYlC8hF2+MSNfQXND91TdgXCppH7Z9SuKcrCuqadU23iTu7icuCeW+1D2IOPuG+fNqFQRlALK5uV2cRFQ3f2IrnDsj/xf3nW/u5QpdNSm0YRnCrV54cOZNrciuy3c3IGGKiEegoLlF6y1cDd9V/go9H/3Cs3HKXkqwKOtVVc4wD20r1W8l6Y1ZgTwLGwFrxtmsUg8E6y08qC7FxoqhOrsZBaLNQekQHmI8E8+cR3duNvaeu9XCcL8ECjsvjOhvxnaAl13f9IRAgkNaLU+/Ep46lbnO/ENn5h4G2kJTBCcAKqlojmb/6p9tj8XVS53zgRw6TwPisazs2d3MgCViFag0x/09iOu/o0onp7188TAYP3hUg30i9sU81NLwjqTI0Xegdtr6QwzuVFXMttEpQViRSMyRUVQPUsAorACAxVMi7b/lS6VPnM0Qu5c2iEv5S1pvq3FI4UgZdbMMe/Q+7ZCU6boVXH6sv1N2baEp/b+Yp/LeLSjjLtPAF2EJ81mRslxnIJ9MTsEPjqx5r/wbYWBNo5M6ZPYDTI+v1hnnZPVk2B1eGGu4lgomFs8k/Wh35XAP3m3ahvZXsCHyo5T+pcvlh0isjfcHlHDtnlv+c7CYNxa1tMEF8HEImcixrV/dzaDgNpNAT0y5Eb0P8rVCiRQmWee2y7t9lYPO8w1mRKA4RF2FOW63FC1VSE0/77r1TW3GJJRAJ1b2VnipdeElXQ0tQ+/gcFcFOys6w3c7NGlkSlOIFjVrOQtidL9JaavP6cM6j6dscNdBirLNqDB0VLkGtg4/SFPIXqibe/j+3aDMbN+dSUV6iVOWgwsBo/z+pk06lZY5RjjA1g4F8RPswCuup2hDfGEqwvPCAtx2pFZw9gRYGv0/OhSjCme35VadEutSjmfZs9SAWW670UTiu8rL+rPF3shWtKbLB7MJQ5Z6RqeVa29KX3jwXgqWKSgAlVfSJy43mnZxXSxy+04ZLaM7tkEw5PQSL1fO7rDSuxYyE1aSXXwCMHaLZT8tV1Rgz4h2P427ImMqBS+m+5M84NQyFM9RvLmmA5svp8+QNXHHDRwR24MozV/IoCZmJsxivFVsJ+P/fYeMfjFrIe0mkwet2tLx1RZSpN8+3ZBbMTQQLjaAfxVuUxTrdJZCf3Wl0t50gLj7HBfEZvjUl10FMjhj1UYpPRZcLxsRXnD25Pvmi1YKqEywjfGRrSifIJ6GzcElEPc84P16Y4394KswwqB1ZDl2t42b3OSj0FTk4TGGaCL8yxNFTzsttVvLIAflnK8y6yLrln1zaxD/BvkNEJMo2RriD1htbmqx3ajYgK1vdPoFwAL08J0xVCnSjf+HfjzmBVhYxrA+nJ4KngIMRHJ8HvL34peWcClP6ySnKGyOKOcWzdhIPZF5jaNzwlDw/aNzbxF/7QwjD4Y2TPt/rK/5DhalRXBy7bSgnXyA">
        </form>
    </div>
</div>
<script>
    (function(){
        window._cf_chl_opt={
            cvId: '2',
            cType: 'managed',
            cNounce: '10801',
            cRay: '778638bc7ffd5c1a',
            cHash: '3ce0b2d1388e46b',
            cUPMDTk: "\/assets\/css\/main.css?__cf_chl_tk=Lszw4eZuZGjlczyFl.KZxbXIZ7N5jpxtjv.g3kHmqo8-1670845608-0-gaNycGzNCKU",
            cFPWv: 'b',
            cTTimeMs: '1000',
            cTplV: 4,
            cTplB: 'cf',
            cRq: {
                ru: 'aHR0cHM6Ly9zYXR5ci53dGYvYXNzZXRzL2Nzcy9tYWluLmNzcw==',
                ra: 'Tk9fVUE=',
                rm: 'R0VU',
                d: 'JKEEjmMntrVY2P+56uu8d2CjNw376WGK2tMok078SDhNqbCPEpCqAlpSbyBybTw8KJX2uQmloBXE5RuhYRznWWxW+uzt84o0V+h+AdIekT4+N2SpjkgpRshhJKdZWtRClzlWw2zpf/IIVgp2w2n9C+uP1kNKkBYJaPIKGAbh8QweugLNjQmqgNF1tt0ELdK9dJ3A8ijcb5HhZPahUz7rIa6lw2tPcfW+k9RiEk/U4zaS9Nh3BbK5yRvmcpmwzdfsgGQmC2IDa22x3tr8zkHvHTJLoCAz0jqsnC7iEm2zZsKO8zQbx5NR+l0tESVanloccjTCj2A25Yjvu4Cw39Xd+rb1ycY+OeWi+NwvhdbgSEwp259PJj0CTcpidA7yKRXjWCiaoNslJXNoo6xPm5czGxuZ8ZcRZ5dOgHCqTqoWxvEKApRVTw9Yp5hc7yHU3sUE7ZORy9hufo5vFEo/N75B7nfZ1vm6DVXkBBkb3N9lrnAkKWwHcv6OT9wpgQfR+Lt471sIdmD+c1cRb9r0FDdxp6AJIIEIiSpQsIPvCwo7ZdutiduJR7sl2t1fLQE9Gf2EPumGbgm1oOWhDwoUi/klcfITwYc2MPSkPmS5/DETNOj6i+1mcn21Jx4Et7w+IgyTVapztJV7ITVIJkRgFMf/Qg==',
                t: 'MTY3MDg0NTYwOC40NjQwMDA=',
                m: 'q68xPMBvB8tuBwt6OrKiMf/ywQm6V3vLy07eXVstn3c=',
                i1: '7UntWHR5RRn1XWG2CiAsGA==',
                i2: 'bhfn94hRzLenxqeRRmKC9A==',
                zh: 'S4b6z2ZpczpLvqcthf6efnNW/iFe2R2Hfhh/zZ+XIxc=',
                uh: 'DV4j3Tmrbi5Rs1q3ahwVS6SgbPbI7np5884QO1u1Cgg=',
                hh: 'tdfNti6E96Zfqwlq03PZ/7uLhJxjprXuYWRtflicMVI=',
            }
        };
        var trkjs = document.createElement('img');
        trkjs.setAttribute('src', '/cdn-cgi/images/trace/managed/js/transparent.gif?ray=778638bc7ffd5c1a');
        trkjs.setAttribute('style', 'display: none');
        document.body.appendChild(trkjs);
        var cpo = document.createElement('script');
        cpo.src = '/cdn-cgi/challenge-platform/h/b/orchestrate/managed/v1?ray=778638bc7ffd5c1a';
        window._cf_chl_opt.cOgUHash = location.hash === '' && location.href.indexOf('#') !== -1 ? '#' : location.hash;
        window._cf_chl_opt.cOgUQuery = location.search === '' && location.href.slice(0, -window._cf_chl_opt.cOgUHash.length).indexOf('?') !== -1 ? '?' : location.search;
        if (window.history && window.history.replaceState) {
            var ogU = location.pathname + window._cf_chl_opt.cOgUQuery + window._cf_chl_opt.cOgUHash;
            history.replaceState(null, null, "\/assets\/css\/main.css?__cf_chl_rt_tk=Lszw4eZuZGjlczyFl.KZxbXIZ7N5jpxtjv.g3kHmqo8-1670845608-0-gaNycGzNCKU" + window._cf_chl_opt.cOgUHash);
            cpo.onload = function() {
                history.replaceState(null, null, ogU);
            };
        }
        document.getElementsByTagName('head')[0].appendChild(cpo);
    }());
</script>


    <div class="footer" role="contentinfo">
        <div class="footer-inner">
            <div class="clearfix diagnostic-wrapper">
                <div class="ray-id">Ray ID: <code>778638bc7ffd5c1a</code></div>
            </div>
            <div class="text-center">Performance &amp; security by <a rel="noopener noreferrer" href="https://www.cloudflare.com?utm_source=challenge&utm_campaign=m" target="_blank">Cloudflare</a></div>
        </div>
    </div>
</body>
</html>
